* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #eaf7f5;
}

header {
    background-color: #0db5cbd7;
    color: white;
    padding: 25px;
    text-align: center;
}

nav {
    background-color: #6042e3e6;
    text-align: center;
    padding: 12px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

.container {
    background-color: white;
    width: 80%;
    margin: 30px auto;
    padding: 25px;
    border-radius: 10px;
}

.course {
    background: #f1fffd;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.progress {
    background-color: #dcdcdc;
    border-radius: 20px;
    overflow: hidden;
    margin-top: 10px;
}

.progress-bar {
    background-color: #389da4;
    color: white;
    padding: 5px;
    text-align: center;
    font-weight: bold;
}

.video-section iframe {
    width: 100%;
    height: 400px;
    border-radius: 10px;
    margin-top: 20px;
}
